body {
  margin-left: 3%;
  margin-right: 3%;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
 }

.header {
  background-color: #E94F37;
  width: 100%;
  min-height: 10vh;
  display: flex;

}

.header-logo {
  background-color: #E94F37;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.logo {
  min-width: 200px;
  max-width: 300px;

}

.headerspace {
  width: 100%;
  flex: 1;
}

.navigation {
  width: 100%;
  flex: 1;
}

.navlinks {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.link {
  font-size: 20px;
  margin-bottom: 5px;
}

h1 {
  font-size: 42px;
  margin-top: 10px;
}

.main {
  background-color: burlywood;
  width: 100%;
  height: 85vh;
  display: flex;
}

.cardfinder {
  text-align: center;
  background-color: #D2D5DA;
  flex: 1;
  border-right: solid 1px #160C28;
}

.interests {
  text-align: center;
  background-color: #D2D5DA;
  border-right: solid 1px #160C28;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.iname {
  overflow: hidden;
  width: 400px;

}

.cardentry td {
  overflow:hidden;
  border-bottom: 1px solid #D2D5DA;

}

.intereststable {
  border-collapse: collapse;
  margin: 12px 50px;
  font-size: 1.2em;
  min-width: 960px;
  background-color: #F7F4F3;
  border-radius: 5px;

}

.intereststable thead tr {
  background-color: #E94F37;
  color: white;
  text-align: left;
}

.intereststable tbody tr {
  text-align: left;
  
}

.editpopup {

}













