body {
  margin-top: 20px;
  margin-left: 3%;
  margin-right: 3%;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: #201c2b;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
 }

 .header {
  background-color: white;
  width: 100%;
  min-height: 10vh;
  display: flex;
  color: #393E41;
}

.header-logo {
  background-color: white;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.logo {
  min-width: 200px;
  max-width: 300px;
  margin-bottom: 10px;
}

.headerspace {
  width: 100%;
  flex: 1;
}

.navigation {
  width: 100%;
  flex: 1;
}

.navlinks {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.link {
  font-size: 20px;
  margin-bottom: 5px;
}

h1 {
  font-size: 26px;
  margin-bottom: 42px;
}

.main {
  background-color: burlywood;
  width: 100%;
  height: 85vh;
  display: flex;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.cardfinder {
  background-color: #FDFFFC;
  flex: 1;
  border-right: solid 1px #160C28;
  border-left: solid 1px #160C28;
  text-align: center;
  border-top-left-radius: 8px;
}

.cardfinderheader {
  background-color: #E94F37;
  width: 100%;
  height: 64px;
  color: #f8e2e2;
  text-align: center;
  margin-bottom: 12px;
  line-height: 64px;
  border-top-left-radius: 8px;
}

.searchresults {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.searchresult {
  background-color: red;
  width: 120px;
  height: 160px;
  margin-top: 10px;
}
.imgthumbnail {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.interests {
  text-align: center;
  background-color: #FDFFFC;
  border-right: solid 1px #160C28;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-top-right-radius: 8px;
}

.interestsheader {
  background-color: #E94F37;
  width: 100%;
  height: 64px;
  color: #f8e2e2;
  text-align: center;
  line-height: 64px;
  border-top-right-radius: 8px;
}

.cardname {
  background-color: #F7F4F3;
  overflow: hidden;
  width: 400px;
  font-size: 1em;
  font-family: 'Work Sans', sans-serif;
  border: none;
  color: none;
  text-align: left;
}

.cardname:hover {
  cursor: pointer;
}

.cardentry td {
  overflow:hidden;
  border-bottom: 1px solid #D2D5DA;

}

.intereststable {
  border-collapse: collapse;
  margin: 12px 50px;
  font-size: 1em;
  min-width: 880px;
  background-color: #F7F4F3;
  border-radius: 5px;

}

.intereststable thead tr {
  background-color: #E94F37;
  color: white;
  text-align: left;
  font-size: 1.2em;
}

.intereststable tbody tr {
  text-align: left;
  color: #201c2b;
  
}

.editpopup {

}













